<html> 
<div align='center'; style="padding-top: 100px";>
<Span> Sign Up For Barbershops.com </span>
</br>
</br>
</br>
<input type='text' placeholder='First Name'; style="width: 300px;"> </input>
</br>
</br>

<input type='text' placeholder='Last Name'; style="width: 300px";> </input>
</br>
</br>

<input type='text' placeholder='Email'; style="width: 300px;"> </input>
</br>
</br>

<input type='text' placeholder='Password'; style="width: 300px;"> </input>
</br>
</br>

<button style="width: 300px;"> Sign Up </button>

</div>

</html>